body {
	margin: 0;
	padding: 0;
}

.header {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	width: 100%;
	/* position: sticky; */
	border-top: 5px solid #29ca8e;
	box-shadow: 0 3px 10px rgba(77, 77, 77, 0.2);
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
}

section {
	height: 70px;
}

section:nth-child(1) {
	flex-grow: 2;
	width: 30px;
	font-size: 18px;
	display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(2) {
	flex-grow: 6;
}

section:nth-child(3){
	flex-grow: 2;
	display: flex;
    justify-content: left;
    align-items: center;
}

.navbar {
	width: 560px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
}

.nav {
	width: 600px;
	padding-left: 65px;
}

.navbar li {
	height: 100%;
	width: 100px;
    display: inline-block;
	text-align: center;
}

.navbar li:hover {
	background-color: #29ca8e;
	transition: 0.5s;
}

.navbar li:hover a {
	color: white;
	font-size: 16px;
}

.navbar a {
	text-decoration: none;
	color: gray;
	text-transform: capitalize;
	line-height: 70px;
}

.icon-phone {
	border: solid #29ca8e;
	background-color: #29ca8e;
	border-radius: 50%;
	color: white;
	padding: 2px;
}

.phone-number {
	text-decoration: none;
	color: gray;
	margin-left: 2px;
}

.phone-number:hover {
	color: black;
}

.main{
	margin: 120px 150px 5px 120px;
}

.article-number{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	padding: 7px;
	margin: 0 0 20px 0;
	color: white;
	background-color: #3f51b5;
	border-radius: 50%;
}

.content{
	width: 100%;
	padding: 0 15px 0 15px;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	text-align: center;
	align-items: center;
}

.article{
	text-align: left;
	color: grey;
	margin: 10px 0 5px 0;
}

.box{
	width:250px;
	height: 270px;
	border: 1px solid rgba(128, 128, 128, 0.2);
	display: flex;
	flex-direction: column;
    align-items: flex-start;
	padding: 50px 42px 50px 42px;
	margin: 0 0px 0 5px;
}

