body {
	margin: 0;
	padding: 0;
}

.header {
	/* font-family: 'Nunito Sans', sans-serif; */
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	position: sticky;
	border-top: 5px solid #29ca8e;
	box-shadow: 0 3px 10px rgba(77, 77, 77, 0.2);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
}

section {
	height: 70px;
}

section:nth-child(1) {
	flex-grow: 1;
	display: flex;
    justify-content: center;
    align-items: center;
	font-size: 16px;
}

section:nth-child(2) {
	flex-grow: 3;
	margin-left: 5px;

}

section:nth-child(3){
	flex-grow: 1;
	display: flex;
    justify-content: center;
    align-items: center;
	padding-left: 25px;
}
.navbar {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar li {
    display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
}

.navbar li:hover {
	background-color: #29ca8e;
}

.navbar li:hover a {
	color: white;
	font-size: 16px;
}

.navbar a {
	text-decoration: none;
	color: gray;
	text-transform: capitalize;
	line-height: 70px;
}

.article-number{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	padding: 7px;
	margin: 0 0 10px 0;
	background-color: #3f51b5;
	color: white;
	border-radius: 50%;
}
.article{
	text-align: left;
	color: grey;
	margin: 10px 0 5px 0;
}

#title{
	margin-top: 10px;
}
.content{
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	width: 100%;
	text-align: center;
	align-items: center;
	padding: 0 15px 0 15px;
}
.main{
	margin: 120px 150px 5px 120px;
	
}

.icon-phone{
	border: solid #29ca8e;
	background-color: #29ca8e;
	border-radius: 50%;
	color: white;
	padding: 2px;
		
}
.phone-number{
	text-decoration: none;
	color: gray;
	margin-left: 6px;
}

.phone-number:hover{
color: black;
}

.box{
	width:250px;
	height: 200px;
	border: 1px solid rgba(128, 128, 128, 0.2);
	display: flex;
	flex-direction: column;
    align-items: flex-start;
	padding: 70px 42px 70px 42px;
	margin: 0 5px 0 5px;
}

